In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations as c
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import*
import plotly.graph_objects as go
import plotly
import dash
#import chart_studio.tools as tls
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
from flask import Flask, render_template

In [92]:
df = pd.read_csv("User Availability Summary.csv")

In [93]:
df.columns

Index(['UserId', 'StatusDateTime', 'StatusDateTimeGMT', 'ChangedStatus',
       'ChangedStatusGroup', 'ChangedLoggedIn', 'ChangedAcdLoggedIn',
       'StatusKey', 'StatusGroup', 'LoggedIn', 'AcdLoggedIn', 'StatusDnd',
       'StatusAcw', 'EndDateTime', 'EndDateTimeGMT', 'StateDuration', 'SeqNo',
       'I3TimeStampGMT', 'Activity_SiteId', 'SubSiteId', 'IndivID',
       'IndivTypeID', 'TitleID', 'LastName', 'FirstName', 'MiddleName',
       'Department', 'Company', 'JobTitle', 'AssistantName', 'IndivImage',
       'IndivURL', 'ModifyDateTime', 'OrgID', 'Active', 'IsPrivate', 'LocID',
       'Indiv_SiteID', 'Version', 'AppIndivID', 'ICUserID', 'OwnerID', 'ExtID',
       'ExtSource', 'UserSecChecksum', 'onlyDate', 'KeyUser',
       'DurationLoggedIn', 'DurationACDLoggedIn', 'DurationDND', 'DurationACW',
       'rank'],
      dtype='object')

In [94]:
df['StatusDateTime'] = pd.to_datetime(df['StatusDateTime'])
df['StatusDateTime'] = df['StatusDateTime'].dt.date

In [95]:
df['StatusDateTime'].head()

0    2022-02-01
1    2022-02-01
2    2022-02-01
3    2022-02-01
4    2022-02-01
Name: StatusDateTime, dtype: object

In [ ]:
df= df[df['StatusDateTime'] > startdtate] & df= df[df['StatusDateTime'] < end date]

In [70]:
df["userid"] = df["FirstName"] + " " +  df["LastName"]

In [71]:
#df = df.groupby(['userid','StatusKey'], as_index = True).sum()

In [72]:
df = df.pivot_table(index = ["userid"],columns = "StatusKey")

In [73]:
df.columns = df.columns.droplevel()

In [74]:
df["total"] = df.sum(axis=1,numeric_only = True)
#inter['total'] = inter.sum(axis=1, numeric_only= True)

In [75]:
df["non_productive"] = df["total"] - (df[["acw","acdagentnotansweringccss","available, no acd","it issues"]].sum(axis=1))

In [76]:
#df["adherence"] = df["total"] / (df[columns_list]df["acw"] - df["acdagentnotansweringccss"] - df["available, no acd"] - df["it issues"].sum(axis=1)

In [77]:
df["adherence"] = df["non_productive"] / df["total"]

In [78]:
adherence = df[["adherence", "total"]]

In [79]:
adherence.columns.name = None

In [80]:
adherence = adherence.reset_index(level=0)

In [81]:
#adherence.rename(columns={ adherence.columns[0]: "Agent" }, inplace = True)

In [82]:
adherence = adherence.drop("total",axis = 1)

In [83]:
adherence["goal"] = 90

In [84]:
adherence.head()

                  userid  adherence  goal
0  Angelica Mae Bartolay   0.955937    90
1        Anthony Carreon   0.934708    90
2          Bhea celebran   0.909213    90
3             Brian Seva   0.813502    90
4          Carlos Cortez   1.000000    90

In [56]:
#coor1 = adherence["Agent"]
#coor2 = adherence["attainment"] * 100
#goal= adherence["goal"]
#fig = go.Figure(data = [go.Bar(name = 'Test1', x = coor1, y = coor2)])

In [57]:
#fig = go.Figure(data=[go.Table(header=dict(values=['Agent', 'Adherence']),
 #                cells=dict(values=[coor1, coor2]))
#                     ])

#fig.show()

In [58]:
adherence.head()

                  userid  adherence  goal
0  Angelica Mae Bartolay   0.955937    90
1        Anthony Carreon   0.934708    90
2          Bhea celebran   0.909213    90
3             Brian Seva   0.813502    90
4          Carlos Cortez   1.000000    90

In [85]:
df = pd.read_csv("User Productivity Summary.csv")
df["userid"] = df["FirstName"] + " " +  df["LastName"]
#df = df.groupby(['userid','queue'], as_index = True).sum()
df = df.reset_index(level=0)
df = df[df['queue'] == "PH_Kinray_CustomerService_Z1_English"]
df= df[df['totnAnsweredACD'] > 0]
df['acw'] = df["totTACW"] / df["totnAnsweredACD"] 
df['aht'] = (df[["totTACW", "totTTalkACD", "totTHoldACD"]].sum(axis = 1)) / df["totnAnsweredACD"] 
acd = df[["userid","totnAnsweredACD","acw","aht"]]
acd.head()

                   userid  totnAnsweredACD         acw          aht
1   Angelica Mae Bartolay              267  190.936330   696.947566
3           Bhea celebran              226  681.721239  1599.128319
5         Cecilia Morales              339   71.017699   397.828909
10          Dina Townsend              355  502.898592   855.216901
12    Fatima Grace Antham              347  106.659942   639.907781

In [ ]:

df1 = pd.DataFrame({'prod': ['Winalto_eu', 'Winalto_uc', 'CEM_eu'], 'age' : [28, 25, 30]})
df2 = pd.DataFrame({'age': list(range(25,41)), 'qx': [2.7, 2.8, 2.8, 2.9, 3, 3.2, 3.4, 3.7, 4.1, 4.6, 5.1, 5.6, 6.1, 6.7, 7.5, 8.2]})

for i in range(1,11):
    df2['qx'+str(i)] = df2.qx.shift(-i)

df3 = pd.merge(df1,df2,how = 'left',on = ['age'])

In [86]:
df2 = pd.merge(acd,adherence,how = 'left',on = ['userid'])

In [88]:
df2.head()

,userid,totnAnsweredACD,acw,aht,adherence,goal
0,Angelica Mae Bartolay,267,190.936330,696.947566,0.955937,90
1,Bhea celebran,226,681.721239,1599.128319,0.909213,90
2,Cecilia Morales,339,71.017699,397.828909,0.938116,90
3,Dina Townsend,355,502.898592,855.216901,0.877305,90
4,Fatima Grace Antham,347,106.659942,639.907781,0.929787,90

In [89]:
df2.columns

Index(['userid', 'totnAnsweredACD', 'acw', 'aht', 'adherence', 'goal'], dtype='object')