In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations as c
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import*
import plotly.graph_objects as go
import plotly
import dash
#import chart_studio.tools as tls
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
from flask import Flask, render_template

In [85]:
df = pd.read_csv("User Productivity Summary.csv")

In [86]:
df.head()

,siteid,subsiteid,i3user,queue,totEnteredACD,totnAnswered,totnAnsweredACD,totnAbandonedACD,totnFlowOutAcd,totnTransferedACD,...,IndivID,LastName,FirstName,MiddleName,DisplayUserName,JobTitle,ICUserID,ExtID,ExtSource,rank
0,2,0,angelicamae.bartolay,-,0,1,0,0,0,0,...,"4cl<xtr,((e~3mz*b?p$-3",Bartolay,Angelica Mae,,Angelica Mae Bartolay,"Rep II, Customer Service Ops",angelicamae.bartolay,,,1
1,2,0,angelicamae.bartolay,PH_Kinray_CustomerService_Z1_English,275,381,267,4,4,3,...,"4cl<xtr,((e~3mz*b?p$-3",Bartolay,Angelica Mae,,Angelica Mae Bartolay,"Rep II, Customer Service Ops",angelicamae.bartolay,,,1
2,2,0,bhea.celebran,-,0,0,0,0,0,0,...,*[`o&bw+^x;zd{-sw{)7`3,celebran,Bhea,,Bhea celebran,,bhea.celebran,,,1
3,2,0,bhea.celebran,PH_Kinray_CustomerService_Z1_English,228,345,226,1,1,5,...,*[`o&bw+^x;zd{-sw{)7`3,celebran,Bhea,,Bhea celebran,,bhea.celebran,,,1
4,2,0,cecilia.morales01,-,0,6,0,0,0,0,...,"0ys78|i!&lim8m?},0[?{2",Morales,Cecilia,,Cecilia Morales,"Sr Rep, Customer Service Ops",cecilia.morales01,,,1

In [87]:
df["userid"] = df["FirstName"] + " " +  df["LastName"]

In [88]:
#df = df.pivot_table(index = ["userid"])
df = df.groupby(['userid','queue'], as_index = True).sum()

In [89]:
df.head()

                                                            siteid  subsiteid  \
userid                queue
Angelica Mae Bartolay -                                          2          0
                      PH_Kinray_CustomerService_Z1_English       2          0
Bhea celebran         -                                          2          0
                      PH_Kinray_CustomerService_Z1_English       2          0
Cecilia Morales       -                                          2          0

                                                            totEnteredACD  \
userid                queue
Angelica Mae Bartolay -                                                 0
                      PH_Kinray_CustomerService_Z1_English            275
Bhea celebran         -                                                 0
                      PH_Kinray_CustomerService_Z1_English            228
Cecilia Morales       -                                                 0

                                                            totnAnswered  \
userid                queue
Angelica Mae Bartolay -                                                1
                      PH_Kinray_CustomerService_Z1_English           381
Bhea celebran         -                                                0
                      PH_Kinray_CustomerService_Z1_English           345
Cecilia Morales       -                                                6

                                                            totnAnsweredACD  \
userid                queue
Angelica Mae Bartolay -                                                   0
                      PH_Kinray_CustomerService_Z1_English              267
Bhea celebran         -                                                   0
                      PH_Kinray_CustomerService_Z1_English              226
Cecilia Morales       -                                                   0

                                                            totnAbandonedACD  \
userid                queue
Angelica Mae Bartolay -                                                    0
                      PH_Kinray_CustomerService_Z1_English                 4
Bhea celebran         -                                                    0
                      PH_Kinray_CustomerService_Z1_English                 1
Cecilia Morales       -                                                    0

                                                            totnFlowOutAcd  \
userid                queue
Angelica Mae Bartolay -                                                  0
                      PH_Kinray_CustomerService_Z1_English               4
Bhea celebran         -                                                  0
                      PH_Kinray_CustomerService_Z1_English               1
Cecilia Morales       -                                                  0

                                                            totnTransferedACD  \
userid                queue
Angelica Mae Bartolay -                                                     0
                      PH_Kinray_CustomerService_Z1_English                  3
Bhea celebran         -                                                     0
                      PH_Kinray_CustomerService_Z1_English                  5
Cecilia Morales       -                                                     0

                                                            totnIntToIntACD  \
userid                queue
Angelica Mae Bartolay -                                                   0
                      PH_Kinray_CustomerService_Z1_English                0
Bhea celebran         -                                                   0
                      PH_Kinray_CustomerService_Z1_English                0
Cecilia Morales       -                                                   0

                                                            totnExtToInt  ...  \
userid                queue                                               ...
Angelica Mae Bartolay -                                                0  ...
                      PH_Kinray_CustomerService_Z1_English           271  ...
Bhea celebran         -                                                0  ...
                      PH_Kinray_CustomerService_Z1_English           227  ...
Cecilia Morales       -                                                9  ...

                                                            totTAgentACDLoggedIn  \
userid                queue
Angelica Mae Bartolay -                                                        0
                      PH_Kinray_CustomerService_Z1_English                     0
Bhea celebran         -                                                        0
                      PH_Kinray_CustomerService_Z1_English                     0
Cecilia Morales       -                                                        0

                                                            totnExttoIntNONACD  \
userid                queue
Angelica Mae Bartolay -                                                      0
                      PH_Kinray_CustomerService_Z1_English                   0
Bhea celebran         -                                                      0
                      PH_Kinray_CustomerService_Z1_English                   0
Cecilia Morales       -                                                      9

                                                            totnInttoExtNONACD  \
userid                queue
Angelica Mae Bartolay -                                                      0
                      PH_Kinray_CustomerService_Z1_English                 114
Bhea celebran         -                                                      0
                      PH_Kinray_CustomerService_Z1_English                 116
Cecilia Morales       -                                                      0

                                                            totTExttoIntNONACD  \
userid                queue
Angelica Mae Bartolay -                                                      0
                      PH_Kinray_CustomerService_Z1_English                   0
Bhea celebran         -                                                      0
                      PH_Kinray_CustomerService_Z1_English                   0
Cecilia Morales       -                                                   1035

                                                            totTInttoExtNONACD  \
userid                queue
Angelica Mae Bartolay -                                                      0
                      PH_Kinray_CustomerService_Z1_English               17711
Bhea celebran         -                                                      0
                      PH_Kinray_CustomerService_Z1_English               19555
Cecilia Morales       -                                                      0

                                                            Active  IsPrivate  \
userid                queue
Angelica Mae Bartolay -                                          1          0
                      PH_Kinray_CustomerService_Z1_English       1          0
Bhea celebran         -                                          1          0
                      PH_Kinray_CustomerService_Z1_English       1          0
Cecilia Morales       -                                          1          0

                                                            IndivTypeID  \
userid                queue
Angelica Mae Bartolay -                                               2
                      PH_Kinray_CustomerService_Z1_English            2
Bhea celebran         -                                               2
                      PH_Kinray_CustomerService_Z1_English            2
Cecilia Morales       -                                               2

                                                            TitleID  rank
userid                queue
Angelica Mae Bartolay -                                         0.0     1
                      PH_Kinray_CustomerService_Z1_English      0.0     1
Bhea celebran         -                                         0.0     1
                      PH_Kinray_CustomerService_Z1_English      0.0     1
Cecilia Morales       -                                         0.0     1

[5 rows x 27 columns]

In [90]:
print(df.columns)

Index(['siteid', 'subsiteid', 'totEnteredACD', 'totnAnswered',
       'totnAnsweredACD', 'totnAbandonedACD', 'totnFlowOutAcd',
       'totnTransferedACD', 'totnIntToIntACD', 'totnExtToInt', 'totnIntToExt',
       'totTTalkACD', 'totTACW', 'totTHoldACD', 'totTAgentLoggedin',
       'totTAgentLoggedin2', 'totTAgentAvailable', 'totTAgentACDLoggedIn',
       'totnExttoIntNONACD', 'totnInttoExtNONACD', 'totTExttoIntNONACD',
       'totTInttoExtNONACD', 'Active', 'IsPrivate', 'IndivTypeID', 'TitleID',
       'rank'],
      dtype='object')

In [91]:
df = df.reset_index(level=0)
#df = df.reset_index(level=0)

array([['Angelica Mae Bartolay', 2, 0, ..., 2, 0.0, 1],
       ['Angelica Mae Bartolay', 2, 0, ..., 2, 0.0, 1],
       ['Bhea celebran', 2, 0, ..., 2, 0.0, 1],
       ...,
       ['Tawanda Richards', 2, 0, ..., 2, 0.0, 1],
       ['Yeszenia Mendoza', 2, 0, ..., 2, 0.0, 1],
       ['Yeszenia Mendoza', 2, 0, ..., 2, 0.0, 1]], dtype=object)

In [65]:
df = df[df['queue'] == "PH_Kinray_CustomerService_Z1_English"]
df= df[df['totnAnsweredACD'] > 0]
df.head()

,siteid,subsiteid,i3user,queue,totEnteredACD,totnAnswered,totnAnsweredACD,totnAbandonedACD,totnFlowOutAcd,totnTransferedACD,...,LastName,FirstName,MiddleName,DisplayUserName,JobTitle,ICUserID,ExtID,ExtSource,rank,userid
1,2,0,angelicamae.bartolay,PH_Kinray_CustomerService_Z1_English,275,381,267,4,4,3,...,Bartolay,Angelica Mae,,Angelica Mae Bartolay,"Rep II, Customer Service Ops",angelicamae.bartolay,,,1,Angelica Mae Bartolay
3,2,0,bhea.celebran,PH_Kinray_CustomerService_Z1_English,228,345,226,1,1,5,...,celebran,Bhea,,Bhea celebran,,bhea.celebran,,,1,Bhea celebran
5,2,0,cecilia.morales01,PH_Kinray_CustomerService_Z1_English,349,514,339,0,10,20,...,Morales,Cecilia,,Cecilia Morales,"Sr Rep, Customer Service Ops",cecilia.morales01,,,1,Cecilia Morales
10,2,0,dina.townsend,PH_Kinray_CustomerService_Z1_English,363,355,355,1,7,14,...,Townsend,Dina,,Dina Townsend,"Rep II, Customer Service Ops",dina.townsend,,,1,Dina Townsend
12,2,0,fatimagrace.antham,PH_Kinray_CustomerService_Z1_English,363,347,347,2,14,9,...,Antham,Fatima Grace,,Fatima Grace Antham,"Rep II, Customer Service Ops",fatimagrace.antham,,,1,Fatima Grace Antham

In [66]:
df['acw'] = df["totTACW"] / df["totnAnsweredACD"] 
df['aht'] = (df[["totTACW", "totTTalkACD", "totTHoldACD"]].sum(axis = 1)) / df["totnAnsweredACD"]

In [67]:
acd = df[["userid","totnAnsweredACD","acw","aht"]]

In [92]:
print(acd.columns)

Index(['userid', 'totnAnsweredACD', 'acw', 'aht'], dtype='object')

In [79]:
acd.

<bound method DataFrame.items of                     userid  totnAnsweredACD         acw          aht
1    Angelica Mae Bartolay              267  190.936330   696.947566
3            Bhea celebran              226  681.721239  1599.128319
5          Cecilia Morales              339   71.017699   397.828909
10           Dina Townsend              355  502.898592   855.216901
12     Fatima Grace Antham              347  106.659942   639.907781
15      Genevieve Espinosa                3    0.000000   205.333333
20        Kamilah Williams              167  660.724551  1093.389222
22        Katherine Jaquez              275  196.472727   576.054545
24        Kristine Gillego              200   14.065000  1289.420000
26            Krystle Bush              229  669.117904  1217.401747
28    Marlene Pena-Worters              409  251.303178   643.508557
30        Michelle Bulloss              213  143.300469   739.807512
32           Nikol Presley              233  585.896996  1156.369099
34      Raven DeVane-Crews              393  241.480916   889.781170
36  Sharay Bryant robinson              216  833.217593  1210.921296
38          Sherly Mahtani              234  241.115385   907.679487
40        Tawanda Richards              313  374.920128   861.753994
42        Yeszenia Mendoza              230  878.386957  1450.034783>

In [70]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
sample = pd.DataFrame(data=[acd['userid'],df['userid']])

In [104]:
sample

                    userid
1    Angelica Mae Bartolay
3            Bhea celebran
5          Cecilia Morales
10           Dina Townsend
12     Fatima Grace Antham
15      Genevieve Espinosa
20        Kamilah Williams
22        Katherine Jaquez
24        Kristine Gillego
26            Krystle Bush
28    Marlene Pena-Worters
30        Michelle Bulloss
32           Nikol Presley
34      Raven DeVane-Crews
36  Sharay Bryant robinson
38          Sherly Mahtani
40        Tawanda Richards
42        Yeszenia Mendoza